body{
    background-color: whitesmoke;
    color: yellowgreen;
    
}
form{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: greenyellow;
    border-radius: 250px;
    color: white;
}